*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  overflow-x: hidden;
}

.main{
  background: linear-gradient(to bottom, #e7edea, #e0f1dd);
  min-height: 100vh;
} 


.logo {
  width: 100px; /* Adjust width as desired */
  height: auto; /* Maintain aspect ratio */
}


/* Navbar.css */
.links {
  color: red
   /* Change to your desired green color */
}

.nav-content{
  width: "50%";
  font-size: large;
  font-weight: bold;
}

.nav-list{
  border-bottom: 3px solid rgb(60, 179, 113, 0)
}

.nav-list:hover{
  border-bottom: 3px solid green;
  transition: 0.5s;
}

/* background video */
/* #myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
} */

.video-container{
  width: 100%;
  height: 100vh;
  z-index: -99;
}

/* .back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
} */
    
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#text{
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* @media (min-aspect-ratio: 16/9) {
  .video-container iframe {
    height = 100 * (9 / 16) = 56.25
    height: 56.25vw;
  }
} */
    
/* @media (max-aspect-ratio: 16/9) {
  .video-container iframe {
    width = 100 / (9 / 16) = 177.777777
    width: 177.78vh;
  }
} */

/* end */

.column {
  width: 50%;
  background-color: #f0f0f0; /* Add background color for better visibility */
  padding: 20px;
  border: 1px solid #ccc; /* Add border properties */
}

.two-column-container {
  display: flex;
}

@media (max-width: 768px) {
  .two-column-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

.headerDisplay {
  white-space: pre-wrap; /* Allow text wrapping */
}


/* Home.css */

.column p {
  font-size: 22px;
  margin-bottom: 100px; /* Add spacing between paragraphs */
}

.column h2 {
  font-size: 48px; /* Adjust header font size */
  margin-bottom: 40px; /* Add some space below the header */
}

/* Add any other typography styles you desire */

