*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.main{
  background: linear-gradient(to bottom, #e7edea, #e0f1dd);
  min-height: 100vh;
} 


.logo {
  width: 100px; /* Adjust width as desired */
  height: auto; /* Maintain aspect ratio */
}


/* Navbar.css */
.links {
  color: red
   /* Change to your desired green color */
}

.nav-content{
  width: "50%";
  font-size: large;
  font-weight: bold;
}

.nav-list{
  border-bottom: 3px solid rgb(60, 179, 113, 0)
}

.nav-list:hover{
  border-bottom: 3px solid green;
  transition: 0.5s;
}


/* background video */

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#text{
  text-align: center;
  z-index: 1;
}

#text h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 600;
}

#text h5 {
  /* font-size: 40px; */
  color: #fff;
  font-weight: 600;
}

#text a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 14px 50px;
  border-radius: 50px;
  margin-top: 35px;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: 0;
}

/* end of video background*/

/* About of home-page home-copy.jsx */
.title-holder {
  text-align: center;
}

.title-holder h2 {
  margin: 0 0 5px;
  text-transform: uppercase;
}

.title-holder .subtitle {
  color: #999999;
}

.title-holder .subtitle:before {
  content: '-';
  margin: 0 5px 0 0;
}

.title-holder .subtitle:after {
  content: '-';
  margin: 0 0 0 5px;
}

.about-block .progress-block {
  margin: 0 0 25px;
}

.about-block .progress-block h4 {
  text-transform: uppercase;
  margin: 0 0 5px;
  font-size: 16px;
}

.about-block .progress-bar {
  background-color: green;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

@media only screen and (max-width: 1023px){
  .title-holder {
    margin: 0 0 20px;
  }
}

@media only screen and (max-width: 767px){
  .about-block .image {
    padding-bottom: 20px;
  }

  .about-block .features [class*="col-"] {
    padding-bottom: 30px;
  }

  .about-block .progress-block {
    padding-top: 5px;
  }
}


/* section for services */
.service-block .servicesProvided>div {
  padding: 15px;
  overflow: hidden;
}

.sevice-block .servicesProvided>div img {
  position: relative;
  top: 0;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.service-block .servicesProvided>div .label {
  position: absolute;
  height: 70px;
  bottom: -70px;
  left: 0;
  right: 0;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  background: green;
  padding: 10px;
  color: #fff;
}

.service-block .servicesProvided>div h3 {
  margin: 0 0 5px;
  color: #fff;
  font-size: 16px;
}

.service-block .servicesProvided>div p {
  margin: 0;
  font-size: 12px;
}

.service-block .servicesProvided>div:hover .label {
  bottom: 0;
}

.service-block .servicesProvided>div:hover img {
  transform: scale(1.08);
}

.service-block .servicesProvided .services-wrapper {
  overflow: hidden;
  position: relative !important;
  background: #666;
  cursor: pointer;
  height: auto;
  width: 100%;
}

.service-block .servicesProvided .label {
  font-size: 100%;
}

.service-block {
  padding: 40px 0 20px;
}

.service-block .servicesProvided>div {
  padding: 0 10px 20px;
}

@media only screen and (max-width: 1023px){
  .service-block .servicesProvided>div .label {
    height: 50px;
  }
}

@media only screen and (max-width: 767px){
  .service-block {
    padding: 40px 0 20px;
  }

  .service-block .servicesProvided>div {
    padding: 0 10px 20px;
  }

}

/* End of home page */


/* Others */

.column {
  width: 50%;
  background-color: #f0f0f0; /* Add background color for better visibility */
  padding: 20px;
  border: 1px solid #ccc; /* Add border properties */
}

.two-column-container {
  display: flex;
}

@media (max-width: 768px) {
  .two-column-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

.headerDisplay {
  white-space: pre-wrap; /* Allow text wrapping */
}


/* Home.css */

.column p {
  font-size: 22px;
  margin-bottom: 100px; /* Add spacing between paragraphs */
}

.column h2 {
  font-size: 48px; /* Adjust header font size */
  margin-bottom: 40px; /* Add some space below the header */
}

/* Add any other typography styles you desire */

