/* no vex boss */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
@import url('https://fonts. googleapis.com/css?family=Poppins:100,200, 300, 400, 500,600, 700,800,900' );


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
 
.main{
  background-image: url(./assets/greennbkg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
} 


.logo {
  width: 100px; /* Adjust width as desired */
  height: auto; /* Maintain aspect ratio */
}


/* Navbar.css */
.links {
  color: red;

   /* Change to your desired green color */
}


.column {
  width: 50%;
  background-color: #f0f0f0; 
  padding: 20px;
  border: 1px solid #ccc; 
}

.two-column-container {
  display: flex;
}

@media (max-width: 768px) {
  .two-column-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

.headerDisplay {
  white-space: pre-wrap; 
}


/* Home.css */

.column p {
  font-size: 22px;
  margin-bottom: 100px; 
}

.column h2 {
  font-size: 48px; 
  margin-bottom: 40px; 
}






/* LandingPage.css */
/* Existing styles */
.wrapper-landinpg{
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100vw; /* Set to 100vw to cover the full viewport width */
  position: fixed; /* Ensures the navbar stays at the top */
  top: 0;
  left: 0;
  z-index: 100;
}



.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  margin: 0 20px;
  justify-content: end;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #ff4b4b;
  
}

.login {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.btn-primary {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #ff6666;
}

/* Hero Section Styles */


.hero-content {
  margin-top: 400px;
  max-width: 800px;
  text-align: left; /* Align text to the left */
}

.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin: 20px 0;
}

.graph-container {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%; /* Reduce the width of the container */
  margin-right: 50px; /* Align the container to the right */
  margin-top: 200px; /* Push the container down */
  margin-left: auto; /* Ensure the container is aligned to the right */
}

.graph-text {
  padding: 5px;
  font-weight: lighter;
  max-width: 50%;
  box-sizing: border-box;
}

.graph-img1 {
  max-width: 50%;
  height: auto;
  transition: transform 0.3s ease;
}
